<div id="footer">
	<div id="footerHolder">
    	<div class="footerSection">
        	<div class="footerSectionHead">Recently Viewed</div>
            	<ng-include src="'partials/recent-page.html'" ng-controller="RecentCtrl"></ng-include>
        </div>
        <div class="footerSection">
        	<div class="footerSectionHead">Authors</div>
                      	<div class="recentPageObject">
        		<div class="recentPageImage" ng-style="{'background-image':'url(https://scontent-ams.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/1922045_10153088759579520_659773818466912349_n.jpg?oh=ca8f2a3f48bad8e80d1c5a7669dae04f&oe=55CA26AF)'}"></div>
            	<div class="recentPageTitle">Linn Lahtinen</div>
    		</div>
          	<div class="recentPageObject">
        		<div class="recentPageImage" ng-style="{'background-image':'url(https://scontent-ams.xx.fbcdn.net/hphotos-xpf1/t31.0-8/10604657_10153037393763703_741397372357666636_o.jpg)'}"></div>
            	<div class="recentPageTitle">Gustav Fridh</div>
    		</div>
          	<div class="recentPageObject">
        		<div class="recentPageImage" ng-style="{'background-image':'url(https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/t31.0-1/c343.0.1362.1362/1399183_10202454661199334_383262554_o.jpg)'}"></div>
            	<div class="recentPageTitle">Niklas Gustavsson</div>
    		</div>
          	<div class="recentPageObject">
        		<div class="recentPageImage" ng-style="{'background-image':'url(https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpt1/v/t1.0-9/11130274_10155435294530430_6431594502891740398_n.jpg?oh=4298c6c731574a7aeff3225daaf2cc42&oe=55D52F1C&__gda__=1440005397_556d35fadad145607233f3f713d5fd6a)'}"></div>
            	<div class="recentPageTitle">Marcus Frisell</div>
    		</div>
        </div>
        <div class="footerSection">
        	<div class="footerSectionHead">Thanks to</div>
          	<div class="recentPageObject">
        		<div class="recentPageImage" ng-style="{'background-image':'url(http://i.forbesimg.com/media/lists/companies/google_416x416.jpg)'}"></div>
            	<div class="recentPageTitle">Google</div>
    		</div>
          	<div class="recentPageObject">
        		<div class="recentPageImage" ng-style="{'background-image':'url(http://www.svt.se/barnkanalen/cachable_image/1334567560000/incoming/article30854.svt/ALTERNATES/extralarge/mamma-mu-barnkanalen-480.jpg)'}"></div>
            	<div class="recentPageTitle">Mom</div>
    		</div>
          	<div class="recentPageObject">
        		<div class="recentPageImage" ng-style="{'background-image':'url(https://pbs.twimg.com/profile_images/1604679412/gud.jpg)'}"></div>
            	<div class="recentPageTitle">God</div>
    		</div>
        </div>
    </div>
</div>