<div id="header">
	<div class="menuInfoHolder">
    	<a href="#/home/">
		<div id="logo"></div>
        </a>
    	<div class="menuObject" ng-click="openSearch()">
        	SEARCH
        	<div class="menuObjectImage search"></div>
        </div>
    	<div class="menuObject" ng-click="openRecommended()">
        	DISCOVER
        	<div class="menuObjectImage discovery"></div>
        </div>
    	<div class="menuObject menuObjectFloatRight">
        	TV SHOWS
        </div>  
    	<div class="menuObject menuObjectFloatRight sel">
        	MOVIES
        </div>  
    </div>
</div>

