<ng-include src="'partials/header.html'" ng-controller="HeadCtrl"></ng-include>
<div id="contentHolderMoviePage">
	<div class="contentImage">
    </div>
    <div class="searchHolder">
    	<div id="searchInner">
    		<input type="text" id="searchForm" name="searchForm" placeholder="Search..." ng-keypress="checkEnter($event)"/>
            <div id="searchSend" ng-click="getSearchResults();"></div>
            <div id="searchResults">
            <div ng-repeat="movie in movies">
 				<a href="#/movie/{{movie.id}}">
                	<div class="movieObject">
 						<img src ="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" width="150"/>
                        <div class="movieObjectTitle">{{movie.title}}</div>
                        <div class="movieObjectYear">{{movie.release_date | date:'MMM d, yyyy'}}</div>
                    </div>
 				</a>
			</div>
        	</div>
        </div>
    </div>
	<div id = "entireMovieHolder">
    <div id="entireMovie">
	<div id="movieLeft">
		<div id="moviePoster"><img src ="https://image.tmdb.org/t/p/w300{{ currentMovie.poster_path }}" width="200"/></div>
        <div id="coverInfo">
        	<div id="coverInfoYear">{{ currentMovie.release_date | date : "yyyy" }}</div>
            <div id="coverInfoTitle">{{ currentMovie.title}}</div>
            <div id="coverInfoGenre">
            	<div class="coverInfoGenreObject" ng-repeat="gen in currentMovie.genres">
                	{{gen.name}} {{$last ? '' : ($index==currentMovie.genres.length-2) ? 'and&nbsp; ' : ',&nbsp; '}}
                </div>
            </div>
            <div id="coverInfoLength">{{ currentMovie.runtime}} min</div>
            <div id="coverInfoRating">
           		<div id="menuInformationRating">&#9733;&#9733;&#9733;&#9733;&#9733;
        			<div id="calcLength" ng-style="{'width': datWidth }">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        		</div>
            </div>
        </div>
        <div id="restInfo">
        </div>

    </div>
	</div>
	</div>
</div>

		<div id="movieDesc">{{ currentMovie.overview}}</div>
		<div id="releaseDate">Filmen släpptes: {{ currentMovie.release_date | date : "MMMM yyyy" }} </div>
    </div>
    <div id="movieRight">
    	<div ng-click="addToFavourites()">Favourites</div>
	
	<div id = "movieRating"> 	
		<div id ="imdbRating"> {{ currentMovie.vote_average }} </div>
		<div id ="userRating">
		<select name ="userRating" ng-model = "userRating">
			<option ng-repeat="num in ratingValues" value = '{{ num }}'> {{ num }} </option> 
		</select>
		<div id ="currentRating">Du har för närvarande satt: {{ userRating }} </div>
		</div> 
	</div>
    
    hehehehehahahah
    




<ng-include src="'partials/footer.html'" ng-controller="FootCtrl"></ng-include>
