<ng-include src="'partials/header.html'" ng-controller="HeadCtrl"></ng-include>
<div id="contentHolderMoviePage">
	<div class="contentImage">
    </div>
    <div class="searchHolder">
    	<div id="searchInner">
    		<input type="text" id="searchForm" name="searchForm" placeholder="Search..." ng-keypress="checkEnter($event)"/>
            <div id="searchSend" ng-click="getSearchResults();"></div>
            <div id="searchResults">
            <div ng-repeat="movie in movies">
 				<a href="#/movie/{{movie.id}}">
                	<div class="movieObject">
 						<img src ="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" width="150"/>
                        <div class="movieObjectTitle">{{movie.title}}</div>
                        <div class="movieObjectYear">{{movie.release_date | date:'MMM d, yyyy'}}</div>
                    </div>
 				</a>
			</div>
        	</div>
        </div>
    </div>
	<div id = "entireMovieHolder">
    <div id="entireMovie">
	<div id="movieLeft">
		<div id="moviePoster"><img src ="https://image.tmdb.org/t/p/w300{{ currentMovie.poster_path }}" width="200"/></div>
        <div id="coverInfo">
        	<div id="coverInfoYear">{{ currentMovie.release_date | date : "yyyy" }}</div>
            <div id="coverInfoTitle">{{ currentMovie.title}}</div>
            <div id="coverInfoGenre">
            	<div class="coverInfoGenreObject" ng-repeat="gen in currentMovie.genres">
                	{{gen.name}} {{$last ? '' : ($index==currentMovie.genres.length-2) ? 'and&nbsp; ' : ',&nbsp; '}}
                </div>
            </div>
            <div id="coverInfoLength">{{ currentMovie.runtime}} min</div>
            <div id="coverInfoRating">
            	<div class="ratingHolder">
                	<div class="ratingHolderTitle">IMDB Rating</div>
                    <div class="ratingHolderImage">
                    	<div class="ratingHolderImageIcon">
                        	<div class="ratingHolderImageFiller" ng-style="{'height': currentMovie.vote_average*10 + '%' }"></div>
                        </div>
                        <div class="ratingHolderImageText">{{currentMovie.vote_average}}</div>
                    </div>
                </div>
                <div class="ratingHolder">
                	<div class="ratingHolderTitle">My Rating</div>
                    <div class="ratingHolderImage">
                    	<div class="ratingHolderImageIcon">
                        	<div class="ratingHolderImageFiller" ng-style="{'height': userRating*10 + '%' }"></div>
                        </div>
                        <div class="ratingHolderImageText">{{userRating}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="restInfo">
        	<div id="restInfoMore">
            	<div id="restInfoMoreText">
                	{{ currentMovie.overview | limitTo: 280 }}{{currentMovie.overview.length > 280 ? '... read more' : ''}} 
                    <!--<div id="readMoreInfo">read more</div>-->
                </div>
                <div id="restInfoButtons">
                	<div class="restInfoButton buttonColor" ng-click="addToFavourites()">
                    <img src="../img/heartVit.png" width="12" id="favImg"/>
                    add to favorites
                    </div>
                    <div class="restInfoButton">trailer</div>
                </div>
            </div>
            <div id="restInfoDetails">
            	<div id="restInfoDetailsTitle">Movie Details</div>
                <div class="restInfoDetailsRow">
                	<div class="restInfoDetailsLeft">Directed</div>
                    <div class="restInfoDetailsRight">
                        <div class="peoples" ng-repeat="peoples in people.crew | filter:{department: 'Directing'}">
                        {{peoples.name}} {{$last ? '' : ($index==actor.length-2) ? 'and&nbsp; ' : ',&nbsp; '}}
                        </div>
                    </div>
                </div>
                <div class="restInfoDetailsRow">
                    <div class="restInfoDetailsLeft">Producers</div>
                    <div class="restInfoDetailsRight">
                        <div class="peoples" ng-repeat="peoples in people.crew | filter:{department: 'Production'}">
                        {{peoples.name}} {{$last ? '' : ($index==actor.length-2) ? 'and&nbsp; ' : ',&nbsp; '}}
                        </div>
                    </div>
                </div>
                <div class="restInfoDetailsRow">
                    <div class="restInfoDetailsLeft">Actors</div>
                    <div class="restInfoDetailsRight">
                    	<div class="peoples" ng-repeat="peoples in people.cast">
                        {{peoples.name}} {{$last ? '' : ($index==actor.length-2) ? 'and&nbsp; ' : ',&nbsp; '}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
	</div>
	</div>
</div>
	<!-- här vare en divslut </div>, vette fan varför -->
<div class="sectionHead">SIMILAR MOVIES</div>
<div id="topTen">
	<div id="chooseTypeHolder">
    	<div class="typeObject typeObjectSel">
        Box Office
        </div>
        <div class="typeObject">
        Top Movies
        </div>
    	<div class="typeObject">
        Top Genre
        </div>
    	<div class="typeObject">
        Top Actor
        </div>
    </div>
</div>
<div id="similarMovies">
	<div class="similarMovie" ng-repeat="movie in similiarMovies | limitTo:5">
    	<a href="#/movie/{{movie.id}}">
   		<img src ="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" width="200"/>
        </a>
    </div>
</div>
    
	<div id = "movieRating"> 	
		<div id="userRating">
		<select name="userRating" ng-model="userRating" id="selectOpt" >
			<option ng-repeat="num in ratingValues" value='{{ num }}'>{{ num }}</option> 
		</select>
		</div> 
	</div>



    

    




<ng-include src="'partials/footer.html'" ng-controller="FootCtrl"></ng-include>
