<div id = "entireSearch">
<div id = "searchBar">
<input type="text" placeholder="Enter key words" id="selectKeyWords"/>
<input type="submit" ng-click="getSearchResults()" value="search" id="selectKeyWordsSubmit"/>

</div>
<!-- <div id ="searchResults" ng-repeat = "list in getList()">
	<div id = "movieResults" ng-repeat ="movie in list">
		{{ movie.title }}
</div>
</div>
 -->

 <div id ="searchResults" ng-repeat = "movie in movies">
 	
 			<img src ="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}"/>
 			<a> {{ movie.title }} </a>

</div>

