<div id="header">
	<div class="menuInfoHolder">
		<div id="logo"></div>
    	<div class="menuObject" ng-click="openSearch()">
        	SEARCH
        	<div class="menuObjectImage search"></div>
        </div>
        <div id="searchForm">
        	<!--<ng include src="search-page.html" ng-controller="../js/searchCtrl.js"></ng-include>-->
       		<input type="text" name="searchVal" id="searchVal"/>
       	</div>
    	<div class="menuObject">
        	DISCOVER
        	<div class="menuObjectImage discovery"></div>
        </div>
    	<div class="menuObject menuObjectFloatRight">
        	TV SHOWS
        </div>  
    	<div class="menuObject menuObjectFloatRight sel">
        	MOVIES
        </div>  
    </div>
</div>
<div id="contentHolder">
	<div class="contentImage">
    </div>
	<div id="contentMenu">
		<div class="contentImage contentImageBlur">
    	</div>
    </div>
    <div id="contentMenuInfo">
    	<div class="menuInfoHolder">
        	<div id="moviePlay" ng-click="openMovie()"></div>
        </div>
    </div>
    <div id="menuInformation">
   		<div id="menuInformationTitle">{{ popInfo.title }}</div>
        <div id="menuInformationTagline">{{ popInfo.tagline }}</div>
        <div id="menuInformationRating"><div id="calcLength" ng-style="{'width': popInfo.vote_average}"></div></div>
        <!--<div id="menuInformationRatingTitle">Rating: {{popInfo.vote_average}}/10</div>-->
    </div>
    <div class="youtubeHolder">
    	<div id="youtubeInner">
        	<iframe id="ytplayer" type="text/html" width="100%" height="100%" ng-src="{{currentProjectUrl}}" frameborder="0"/>
        </div>
    </div>
    <div id="whiteStrip"></div>
</div>
<div id="topChoices">
</div>
