<div id="header">
	<div class="menuInfoHolder">
		<div id="logo"></div>
    	<div class="menuObject" ng-click="test()">
        SEARCH
        </div>
    	<div class="menuObject">
        DISCOVER
        </div>
    	<div class="menuObject menuObjectFloatRight">
        TV SHOWS
        </div>  
    	<div class="menuObject menuObjectFloatRight">
        MOVIES
        </div>  
    </div>
</div>
<div id="contentHolder">
	<div class="contentImage">
    </div>
	<div id="contentMenu">
		<div class="contentImage contentImageBlur">
    	</div>
    </div>
    <div id="contentMenuInfo">
    	<div class="menuInfoHolder">
               
        </div>
    </div>
    <div id="whiteStrip"></div>
</div>
