
<ng-include src="'partials/header.html'" ng-controller="HeadCtrl"></ng-include>
<div id="contentHolder">
	<div class="contentImage">
    </div>
	<div id="contentMenu">
		<div class="contentImage contentImageBlur">
    	</div>
    </div>
    <div id="contentMenuInfo">
    	<div class="menuInfoHolder">
        	<div id="moviePlay" ng-click="openMovie()">
            	<div class="moviePlayButton">
                	<div class="playArrow"></div>
                	<div class="playLineBase playLineOne"></div>
                    <div class="playLineBase playLineTwo"></div>
                    <div class="playLineBase playLineThree"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="menuInformation">
   		<div id="menuInformationTitle">{{ popInfo.title }}</div>
        <div id="menuInformationTagline">{{ popInfo.tagline }}</div>
        <div id="menuInformationRating">&#9733;&#9733;&#9733;&#9733;&#9733;
        <div id="calcLength" ng-style="{'width': popInfo.vote_average*10 + '%' }">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        </div>
    </div>
    <div class="youtubeHolder">
    	<div id="youtubeInner">
        	<iframe id="ytplayer" type="text/html" width="100%" height="100%" ng-src="{{currentProjectUrl}}" frameborder="0"/>
        </div>
    </div>
    <div class="searchHolder">
    	<div id="searchInner">
    		<input type="text" id="searchForm" name="searchForm" placeholder="Search..." ng-keypress="checkEnter($event)"/>
            <div id="searchSend" ng-click="getSearchResults();"></div>
            <div id="searchResults">
            <div ng-repeat="movie in movies">
 				<a href="#/movie/{{movie.id}}">
                	<div class="movieObject">
 						<img src ="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" width="150"/>
                        <div class="movieObjectTitle">{{movie.title}}</div>
                        <div class="movieObjectYear">{{movie.release_date | date:'MMM d, yyyy'}}</div>
                    </div>
 				</a>
			</div>
        	</div>
        </div>
    </div>
    <div id="whiteStrip"></div>
</div>
<div class="sectionHead">COMING SOON</div>
<div id="comingSoon">
	<div id="chooseTypeHolder">
    	<div class="typeObject typeObjectSel">
        Overall
        </div>
        <div class="typeObject">
        Genre
        </div>
    	<div class="typeObject">
        Citrus
        </div>
    </div>
	<div id="comingSoonDatesHolder">
    	<div class="comingSoonDatesObject" ng-repeat="dates in date" ng-class="{comingSoonDatesObjectSel:$first}">{{dates | date:'EEE. MMM d'}}</div>
    </div>
    <div id="comingSoonMovieHolder">
    	<div ng-repeat="coming in comingSoonList">
        	<a href="#/movie/{{coming.id}}">
    		<div class="comingSoonMovieObject" ng-style="{'background-image':'url(https://image.tmdb.org/t/p/w300{{coming.poster_path}})'}"></div>
            </a>
        </div>
    </div>
</div>
<div class="sectionHead">TOP 10</div>
<div id="topTen">
	<div id="chooseTypeHolder">
    	<div class="typeObject typeObjectSel">
        Box Office
        </div>
        <div class="typeObject">
        Top Movies
        </div>
    	<div class="typeObject">
        Top Genre
        </div>
    	<div class="typeObject">
        Top Actor
        </div>
    </div>
    <div id="topTenHolder">
    	<div ng-repeat="topTen in topTenList">
        	<a href="#/movie/{{topTen.id}}">
    		<div ng-class-odd="'topTenObjectOdd'" ng-class-even="'topTenObjectEven'">
            	<div id="topTenNumber">{{$index + 1}}</div>
                <div id="topTenImage"><img src="https://image.tmdb.org/t/p/w300{{topTen.poster_path}}" width="100%"/></div>
                <div id="topTenName">{{topTen.title}}</div>
                <div id="topTenRating">Rating: {{topTen.vote_average}}</div>
            </div>
            </a>
        </div>
        <div id="showMore">see more</div>
    </div>
</div>
<div class="sectionHead">FAVORITES</div>
<div id="news">
	<ng-include src="'partials/favourites-page.html'" ng-controller="FavouritesCtrl"></ng-include>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FootCtrl"></ng-include>



