@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

body {
margin:0px;
padding:0px;
border:0px;
background-color:#fff;
}

::-webkit-input-placeholder {
color: rgba(0,0,0,1);
font-family:Lato;
font-weight:900;
text-transform:uppercase;
font-size:10px;
letter-spacing:1px;
}

a {
text-decoration:none;
color:#000;
}

#header {
width:100%;
height:50px;
background-color:#fff;
}

#logo {
width:75px;
height:50px;
background-color:transparent;
margin-right:30px;
float:left;
background-image:url(img/logo3.png);
background-size:contain;
}

.menuObject {
width:auto;
height:30px;
background-color:transparent;
float:left;
margin:10px 10px 0 0;
font-family: Lato;
font-weight:900;
text-align:center;
padding:9px 24px 0 24px;
box-sizing:border-box;
font-size:10px;
letter-spacing:1px;
position:relative;
}

.menuObjectFloatRight {
float:right;
}

#contentHolder {
width:100%;
height:400px;
background-color:#eaeaea;
position:relative;
overflow:hidden;
}

#contentMenu {
width:100%;
height:50px;
background-color:rgba(0,0,0,0);
position:absolute;
left:0px;
bottom:0px;
overflow:hidden;
}

.contentImage {
width:100%;
height:410px;
background-size:cover;
background-position:center;
position:absolute;
left:0px;
top:0px;
}

.contentImageBlur {
-webkit-filter: blur(10px);
margin:-340px 0 0 0;
position:absolute;
left:0px;
top:-10px;
}

#whiteStrip {
width:100%;
height:10px;
background-color:#fff;
position:absolute;
left:0px;
bottom:-10px;
}

#contentMenuInfo {
width:100%;
height:50px;
background-color:rgba(0,0,0,.02);
position:absolute;
left:0px;
bottom:0px;
}

.menuInfoHolder {
max-width:1000px;
width:90%;
height:50px;
background-color:transparent;
margin:0 auto 0 auto;
}

.menuObjectImage {
width:10px;
height:10px;
background-size:cover;
position:absolute;
left:8px;
top:11px;
opacity:.3;
}

#menuInformation {
max-width:1000px;
width:90%;
height:250px;
background-color:transparent;
margin:50px auto 0 auto;
position:relative;
z-index:999;
}

#menuInformationTitle {
max-width:1000px;
width:90%;
font-family:Lato;
font-weight:400;
font-size:5vw;
color:rgba(255,255,255,1);
text-shadow:0 0 50px rgba(0,0,0,.7);
text-transform:uppercase;
line-height:4.5vw;
}

#menuInformationTagline {
max-width:500px;
width:90%;
font-family:Lato;
font-weight:300;
font-size:24px;
color:rgba(255,255,255,1);
text-shadow:0 0 10px rgba(0,0,0,1);
text-transform:uppercase;
margin-top:20px;
line-height:25px;
}

#menuInformationRatingTitle {
font-size:12px;
font-family:Lato;
font-weight:300;
color:rgba(255,255,255,1);
text-shadow:0 0 10px rgba(0,0,0,1);
text-transform:uppercase;
}

#menuInformationRating {
width:10px;
height:5px;
background-color:rgba(0,0,0,.5);
-webkit-transform: scale(20,1);
margin:20px 0 0 96px;

}

#calcLength {
background-color:rgba(255,255,255,1);
height:100%;
}

.search {
background-image:url(img/search.png);
}

.discovery {
background-image:url(img/discover.png);
}

.sel {
background-color:rgba(239, 213, 87, 1);
color:#fff;
}

#searchForm {
width:0px;
height:30px;
background-color:#fff;
float:left;
margin:10px 0 0 0;
}

#searchVal {
border:0px;
margin:0px;
padding:0 0 0 0;
width:100%;
height:100%;
background-color:rgba(0,0,0,.05);
box-sizing:border-box;
}

#topChoices {
width:90%;
max-width:1000px;
height:400px;
margin:50px auto 0 auto;
background-color:red;
}